html {
  height: auto;
  min-height: 100% !important;
  background-color: #294870;
}

body {
  font-family: tahoma;
  background-color: transparent;
  height: 100%;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(201, 201, 238);
  width: 100%;
  min-height: 100% !important;
}     

.disabledButton {
  background-color: #d8d8d8;
  cursor: not-allowed;
}

.img-thumbnail {
  padding: 0.5em;
  background-color: rgb(156, 156, 156);
  border: 0px;
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.navbar * {
  height: 2.5em;
}

.input-group {
  margin-left: auto;
  margin-right: auto;
}

.checked {
  color: orange;
  border-color: rgb(0, 0, 0);
  border-width: 0.5em;
}

.price {
  font-size: x-large;
}

#myDDButton {
  background-color: hsl(0, 0%, 82%);
}

.modal-footer {
  justify-content: space-between;
}

.margin-right {
    margin-right: 0.5em;
}


/* Per gli schermi <= 1400px 
@media screen and (max-width: 1400px) {

  .container {
      width: 80%;
  }
  
}

/* Per gli schermi <= 1200px
@media screen and (max-width: 1200px) {

  .container {
      width: 85%;
  }
  
}

/* Per gli schermi <= 992px 
@media screen and (max-width: 992px) {

  .container {
      width: 90%;
  }
  
}

/* Per gli schermi <= 768px 
@media screen and (max-width: 768px) {

  .container {
      width: 95%;
  }

}*/