html {
    height: auto;
    min-height: 100% !important;
    background-color: #294870;
}
body {
    font-family: tahoma;
    background-color: transparent;
    height: 100%;
}
.container-fluid {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(201, 201, 238);
}
.img-thumbnail {
    border: 0px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
} 
/* padding: 0.5em;
background-color: rgb(156, 156, 156); */
.input-group {
    margin-left: auto;
    margin-right: auto;
}
.checked {
    color: orange;
    border-color: rgb(0, 0, 0);
    border-width: 0.5em;
}
.price {
    font-size: x-large;
}
.input-group {
    width: 60%;
}
.input-group-text {
    width: 2.5em;
}
#myDDButton {
    background-color: hsl(0, 0%, 82%);
}
.big-size {
    transform: scale(1.4);
    margin-right: 0.5em;
}
.badge {
    font-size: medium;
    margin-right: 0.125em;
}
.btn-lg {
    margin-right: 0.5em;
    margin-bottom: 0.5rem;
}
#onSalePrice {
    color: rgb(232, 38, 38);
}
.form-switch {
    margin-left: 7.2em;
}
.custom-switch {
    margin-right: 0.5em;
}
#rentProduct {
    color: black;
    background-color: rgb(254, 165, 45);
    border-color: rgb(254, 165, 45);
}

#burgerButton{
    width: 30%;
    height: 10%;
  }
  
#burger{ 
    width: 100%;
    height: 100%;
  }
.moveleft{
    margin-right: 2em;
}
.heigt-group{
    height: 2em;
}
.single{
    border: thin solid black;
    width:80%;
    margin: auto;
}
.delete {
    float: right
  }
#formButtons{
    visibility: hidden;
}