html {
    height: auto;
    min-height: 100% !important;
    background-color: rgba(77, 76, 76, 0.118);
}
body {
    font-family: tahoma;
    background-color: transparent;
    height: 100%;
}
.container-fluid {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}
.myImg {
    border: 0px;
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
} 
/* padding: 0.5em;
background-color: rgb(156, 156, 156); */
.input-group {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.checked {
    color: orange;
    border-color: rgb(0, 0, 0);
    border-width: 0.5em;
}
.price {
    font-size: x-large;
}

.input-group-text {
    width: 2.5em;
}
#myDDButton {
    background-color: hsl(0, 0%, 82%);
}
/* .big-size {
    transform: scale(1.4);
    margin-right: 0.5em;
} */
.badge {
    font-size: medium;
    margin-right: 0.125em;
}
.btn-lg {
    margin-right: 0.5em;
    margin-bottom: 0.5rem;
}
#onSalePrice {
    color: rgb(232, 38, 38);
}
/* .form-switch {
    margin-left: 7.2em;
}
.custom-switch {
    margin-right: 0.5em;
} */
#rentProduct {
    color: black;
    background-color: rgb(254, 165, 45);
    border-color: rgb(254, 165, 45);
}

#burgerButton{
    width: 30%;
    height: 10%;
  }
  
#burger{ 
    width: 100%;
    height: 100%;
  }


.heigt-group{
    height: 2em;
}

#formButtons{
    visibility: hidden;
}

/* usato per nascondere select in navbar.html */
.invisible{
    display: none;
}

/* css navbar*/
.moveleft{
    margin-right: 40px;
}
.moveright{
    margin-left: 40px;
}

.navbar-toggler{
    width: 40px;
    height: 40px;
    padding: 0;
}


/* creazione articolo*/
.delete {
    float: right;
    margin: 0;
  }

@media (min-width: 500px) {
    .container-fluid {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    .container-fluid {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 992px) {
    .container-fluid {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}